body{
    text-align: center;
    font-size: 5rem;
    
}

div{
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: black;
    margin: 50px 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#submitBtn{
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 10px;
}

#submitBtn:hover{
    background-color: green;
    color: white;
}

.input{
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 10px;
}

